@import url(../global.css);

.hero {
    padding: 20px 10px;
    width: 100%;
    height: 600px;
    background: url('../../images/homeIMg/Mask Group (6).png') no-repeat center;
    background-size: cover;
}

.hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero_list {
    display: flex;
    gap: 32px;
}

.hero_nav {
    color: rgb(206, 205, 205);
    font-size: 14px;
    font-weight: 400;
}


.hero_title {
    text-align: center;
    padding-top: 180px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
}


.events_title {
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: 700;
}

.events_suptitle {
    width: 372px;
    color: rgb(145, 159, 174);
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.events_left_right {
    display: flex;
    align-items: center;

    justify-content: space-between;
    margin-top: 44px;
}

.search_box {
    display: flex;
    align-items: center;
    position: relative;
}

.search_input {
    width: 467px;
    height: 70px;
    padding: 10px 20px;
    border: 2px solid rgb(1, 147, 220);
    border-radius: 15px;
    outline: none;
    box-shadow: 0px 4px 20px 8px rgba(45, 61, 231, 0.2);
    background: rgb(255, 255, 255);
    color: rgb(1, 147, 220);
    font-size: 18px;
    font-weight: 400;
}

.search_img {
    position: absolute;
    right: 15px;
    width: 24px;
    height: 24px;
}
.search_img{
    position: relative;

}

.event_date {
    position: absolute;
    bottom: 39px;
    width: 300px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
    padding-top: 16px;
    background: rgba(1, 147, 220, 0.8);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
}

.event_list {
    display: grid;
    grid-template-columns: repeat(3, 440px);
    margin-left: 200px;

}

.event_img {
    border-radius: 5px;
    margin-top: 50px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background: url(), rgb(255, 255, 255);
}

.event_img {
    width: 300px;
    height: 270px;
}

.event_name {
    color: rgb(24, 27, 30);
    font-size: 24px;
    font-weight: 900;
}

.event_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event_title {
    color: rgb(12, 16, 26);
    font-size: 30px;
    font-weight: 700;
    padding-top: 100px;
}

.event_suptitle {
    width: 771px;
    color: rgb(145, 159, 174);
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
    padding-top: 20px;
}

/* Footer Section */
.footer {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    background: rgb(249, 249, 249);
    margin-top: 30px;
}

.footer_left_right {
    display: flex;
    justify-content: space-between;
    padding-top: 71px;
}

.footer_content {
    display: flex;
    gap: 24px;
    align-items: center;
}

.footer_right {
    display: flex;
    gap: 72px;
}

.footer_left {
    display: flex;
    flex-direction: column;
}

.footer_adres {
    color: rgb(12, 16, 26);
    font-size: 12px;
    font-weight: 400;
}

.footer_wrap {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.me_adres {
    color: rgb(12, 16, 26);
    font-size: 12px;
    font-weight: 700;
    margin-top: 27px;
}

.footer_info {
    color: rgb(12, 16, 26);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 19px;
}

.footer_nav li a {
    color: rgb(58, 78, 80);
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 700;
}

.box {
    width: 32px;
    height: 32px;
    border: 1px solid rgb(230, 230, 231);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_set {
    display: flex;
    gap: 16px;
    margin-top: 32px;
}

.hr {
    margin-top: 82px;
}

.prav {
    color: rgb(12, 16, 26);
    font-size: 12px;
    font-weight: 400;
    padding-top: 23px;
}
